@import url(./reset.css);
@import url(./fonts.css);

:root {
  --gray-lightest: #f7f9fc;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

.aside {
  width: 22.25em;
  background-color: var(--gray-lightest);
  padding: 3em;
  display: grid;
  gap: 2em;
}

.aside__header {
  display: grid;
  gap: 1em;
}

.photo {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  overflow: hidden;
}
