@import url(./reset.css);
@import url(./fonts.css);

:root {
  --gray-lightest: #e2e6ee;
  --gray-lightest-2: #f7f9fc;
  --gray-darker: #2e2e48;
  --gray-dark: #47516b;
  --gray-default: #79819a;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 22.25em 1fr;
}

.aside {
  /* width: ; */
  background-color: var(--gray-lightest-2);
  padding: 3em;
  display: grid;
  gap: 2em;
}

.header {
  display: grid;
  gap: 1em;
}

.header__photo {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  overflow: hidden;
}

.header__name {
  font-weight: 500;
  font-size: 2em;
  line-height: 2.5em;
  color: var(--gray-darker);
}

.quotes {
  font-size: 1.125em;
  color: var(--gray-dark);
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 2%;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--gray-lightest);
}

.rows {
  display: grid;
  gap: 1.5em;
}

.rows__title {
  font-size: 0.75em;
  color: var(--gray-default);
}

.row {
  display: grid;
  grid-template-columns: 2em 1fr;
  gap: 1em;
  align-items: center;
}

.row__wrapper {
  display: grid;
  gap: 0.5em;
}

.rows--infos .row__icon {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background-color: var(--gray-lightest);
  display: grid;
  place-content: center;
}

.rows--infos .row__icon img {
  width: 16px;
  height: 16px;
}

.row__title {
  font-size: 0.75em;
  color: var(--gray-default);
}

.row__text,
.row__link {
  font-size: 0.875em;
  font-weight: 500;
  color: var(--gray-dark);
  text-decoration: none;
}

.row__link--underline {
  text-decoration: underline;
}

/* main */

.main {
}
