@import url(./reset.css);
@import url(./fonts.css);

:root {
  --gray-lightest: #e2e6ee;
  --gray-lightest-2: #f7f9fc;
  --gray-darker: #2e2e48;
  --gray-dark: #47516b;
  --gray-default: #79819a;
  --primary-dark: #5531a7;
  --primary-default: #9251f7;
  --iris: #5d5fef;
  --secondary--lighter: #e1e7fe;
  --secondary--default: #516cf7;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 440px) {
  body {
    font-size: 18px;
  }
}
