@import url(./reset.css);
@import url(./fonts.css);

:root {
  --gray-lightest: #e2e6ee;
  --gray-lightest-2: #f7f9fc;
  --gray-darker: #2e2e48;
  --gray-dark: #47516b;
  --gray-default: #79819a;
  --primary-dark: #5531a7;
  --primary-default: #9251f7;
  --iris: #5d5fef;
  --secondary--lighter: #e1e7fe;
  --secondary--default: #516cf7;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min-content;
  margin: 0 auto;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--gray-lightest);
}

.rows {
  display: grid;
  gap: 1.5rem;
}

.rows-wrapper {
  display: grid;
  gap: 1.5rem;
}

.rows__title {
  font-size: 0.75rem;
  color: var(--gray-default);
}

.sections {
  display: grid;
  gap: 3rem;
  border-left: 1px solid var(--gray-lightest);
}

.section {
  padding-left: 3rem;
  position: relative;
}

.section::before {
  position: absolute;
  background-color: white;
  content: '';
  display: block;
  top: 0rem;
  left: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05), 0px 12px 48px rgba(0, 0, 0, 0.04),
    inset 0px 2px 2px rgba(0, 0, 0, 0.04);
}

.section::after {
  position: absolute;
  content: '';
  top: 0.75rem;
  left: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: var(--primary-dark);
}

.section__title {
  font-size: 1.5rem;
  color: var(--gray-darker);
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  padding: 1rem 1.5rem;
  background-color: var(--gray-lightest-2);
}

.experiences {
  border-left: 1px solid var(--gray-lightest-2);
  padding-left: 1.75rem;
  display: grid;
  gap: 1.5rem;
}

.cards--skills {
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards--skills > .card {
  flex: 1 1 calc(20% - 0.5rem); /* каждый занимает пятую часть ширины контейнера */
  max-width: calc(20% - 0.5rem);
}

.cards--skills > .card--big {
  flex: 1 1 calc(33.33% - 0.5rem); /* каждый занимает треть ширины контейнера равномерно */
  max-width: calc(33.33% - 0.5rem);
}

.cards--certificates {
  display: grid;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }

  .rows-wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
  }

  .rows--infos .rows-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .rows-wrapper,
  .rows--infos .rows-wrapper {
    grid-template-columns: 1fr;
  }

  .cards--projects {
    flex-wrap: wrap;
  }

  .cards--education {
    flex-direction: column;
  }

  .cards--skills > .card,
  .cards--skills > .card--big {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 18px;
  }
}
